<%# add navigation links to this file %>
<li><a href="#" data-reveal-id="firstModal">Inicia Sesión</a></li>
<li><%= link_to 'Ingreso owner', new_owner_session_path %></li>
<li><%= link_to 'Ingreso user', new_user_session_path %></li>