<%# navigation styled for Zurb Foundation 5 %>
<div class="sticky">
<nav class="top-bar sticky" data-topbar role="navigation">
  <ul class="title-area">
  	<li class="name"><%= link_to 'Home', root_path %></li>
    <!-- <li class="name"><%= link_to image_tag("cat.png"), root_path %></li> -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <div class="top-bar-section">

    <ul class="right">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
</div>



